**/obj/
**/bin/
**/vc90*
*.suo
*~
vc100.pdb
*.dep
*.vshost.*
*TempAssembly*
*.user
*.ncb
*.ilk
*.tlog
*.pch
*.filters
*.obj
*.exp
temp/
*~
bin
lib
*.exe
build
Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake

**/BuildLog.htm
c/SWICLI.sln.cache
PInvokeSignatureGeneratorSource/
null
lib/amd64/swicli.dll
lib/amd64/swicli.pdb
lib/amd64/swicli32.dll
lib/amd64/swicli32.pdb
lib/i386-linux/swicli.dll
lib/i386-linux/swicli.pdb
lib/i386-linux/swicli32.dll
lib/i386-linux/swicli32.pdb

lib/i386-win32/swicli.dll
lib/i386-win32/swicli.pdb
lib/x86_64-linux/swicli.dll
lib/x86_64-linux/swicli.pdb
lib/x86_64-linux/swicli32.dll
lib/x86_64-linux/swicli32.pdb
