**/obj/
**/bin/
**/vc90*
*.suo
*~
*.dep
*.vshost.*
*TempAssembly*
*.user
*.ncb
*.ilk
*.obj
*.exp
**/BuildLog.htm
c/SWICLI.sln.cache
lib/i386-win32/Swicli.Library.pdb
null
lib/amd64/swicli.dll
lib/amd64/swicli.pdb
lib/amd64/swicli32.dll
lib/amd64/swicli32.pdb
lib/i386-linux/swicli.dll
lib/i386-linux/swicli.pdb
lib/i386-linux/swicli32.dll
lib/i386-linux/swicli32.pdb
lib/x86_64-linux/swicli.dll
lib/x86_64-linux/swicli.pdb
lib/x86_64-linux/swicli32.dll
lib/x86_64-linux/swicli32.pdb
